@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer components {
    .btn-1{
        @apply p-2 h-10 text-sm min-w-fit mx-2 bg-gray-500 hover:bg-gray-400 dark:bg-gray-700 hover:dark:bg-gray-600 rounded-md text-gray-100 dark:text-gray-300 transition-colors
    }
    .form-input{
        @apply p-2 h-10 w-[calc(100%-4rem)] bg-gray-200 dark:bg-gray-700 text-gray-600 dark:text-gray-300  outline-none rounded-md
    }
}